.task-container {
  background-color: #555;
  color: white;
  margin: 10px 0;
  padding: 8px 12px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
}

.task-title {
  cursor: pointer;
}

.remove-task-button,
.details-task-button {
  background-color: #555;
  border: none;
  font-size: 19px;
  color: lightsteelblue;
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
